@import './GoogleFont.css';

.about-box{
	margin: 5rem auto 2rem auto;
	max-width: 1000px;
	align-items: center;
}
.about-img{
	max-width: 400px;
}
.about-title{
	color: #5F7F39;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 0;
}
.about-title-country{
	font-size: 1rem;
}
.about-description{
	color: #495057;
	text-align: justify;
}
.vision-mission-box{
	display: flex;
	gap:3rem;
	margin: 2rem auto;
	max-width: 1000px;
	justify-content: space-around;
	padding:1rem;
}
.vision-mission-description{
	color: #495057;
	text-align: justify;
}
.mission-vission__title{
	color: #5F7F39;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 0;
}
@media screen and (max-width:600px) {
  .vision-mission-box { flex-wrap: wrap;  }
  .about-img{ max-width: 100% !important; }
}
